.wrapper {
	margin-top: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	padding: 0px 4px;
	margin-bottom: 30px;
	font-size: var(--fsz32);
	border-bottom: 1px solid var(--additional);
}

.loginForm {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 500px;
}

.globalError {
	color: var(--error);
	position: absolute;
	bottom: 44px;
}

.checkbox {
	margin-top: 14px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}

.checkboxInfo {
	margin-left: 6px;
	position: relative;
	top: 2px;
}

