.input {
	padding: 9px 10px;
	font-size: 22px;
	border-radius: 4px;
	background-color: var(--color);
	color: var(--firstBg);
	border: 1px solid var(--color);
	width: 100%;
}

.input:focus {
	-moz-box-shadow: 0 0 5px var(--color);
	-webkit-box-shadow: 0 0 5px var(--color);
	box-shadow: 0 0 5px var(--color);
}