.wrapper {
	width: 100%;
	padding-bottom: 20px;
}

.header {
	height: 40px;
	cursor: pointer;
	font-size: var(--fsz19);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 6px;
	border-bottom: 1px solid var(--additional);
}

.content {
	margin: 30px 50px 0;
	max-height: 400px;
}

.content.disabled {
 	display: none;
}

.title {
	font-size: var(--fsz18);
}

.icon {
	transform: rotate(-90deg);
	font-size: 28px;
}

.icon.disabled {
	transform: rotate(90deg)
}

.sign {
	margin-right: 10px;
	padding: 4px 4.5px 1px;
	border: 1px solid var(--selection);
	color: var(--selection);
	border-radius: 8px;
	font-size: var(--fsz16);
}

.sign.red {
	padding: 4px 4px 1px;
	border-color: var(--error);
	color: var(--error);
	transform: rotate(45deg);
}
