.wrapper {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.header {
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 6px;
	border-bottom: 1px solid var(--additional);
}

.content {
	margin: 40px 50px 0;
}

.content.disabled {
 	display: none;
}

.title {
	font-size: var(--fsz19);
}

.info {
	font-size: var(--fsz16);
	display: inline-block;
	margin-left: 8px;
	color: var(--error);
}

.info.recieved {
	color: var(--main);
}

.reject {
	display: inline-block;
	margin-right: 40px;
}

.reject.disabled {
	opacity: 0.6;
	pointer-events: none;
}

.title.disabled {
	color: var(--forText);
	opacity: 0.8;
}

.right {
	display: flex;
	align-items: center;
}

.icon {
	transform: rotate(-90deg);
	font-size: 28px;
}

.icon.disabled {
	transform: rotate(90deg)
}

.sign {
	margin-right: 10px;
	padding: 4px 4.5px 1px;
	border: 1px solid var(--main);
	color: var(--main);
	border-radius: 8px;
	font-size: var(--fsz16);
}

.sign.red {
	padding: 4px 4px 1px;
	border-color: var(--error);
	color: var(--error);
}

.modalInfo {
	font-size: var(--fsz24);
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--additional);
	text-align: center;
}

.modalInput {
	margin-top: 16px;
}

