.wrapper {
	width: 80%;
	margin: 0px auto;
	padding-top: 60px;
	padding-bottom: 80px;
}

.menuItems {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	border-bottom: 1px solid var(--additional);
	padding-bottom: 20px;
}

.noData {
	margin-top: 100px;
	color: var(--efficiency);
	font-size: var(--fsz24);
	text-align: center;
}