.inputBlock {
	margin-bottom: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.inputBlock.last {
	margin-bottom: 40px;
}

.inputBlock .info {
	align-self: flex-end;
	margin-top: 3px;
}

.infoReg {
	color: var(--main);
	display: inline-block;
}

.infoReg:hover {
	cursor: pointer;
	text-decoration: underline;
}

.inputBlock .error {
	color: var(--error);
	position: absolute;
	bottom: -26px;
}

.inputBlock .error.shifted {
	bottom: 0px;
}

.questionMark {
	position: absolute;
	border: 1px solid var(--additional);
	border-radius: 40px;
	padding: 2px 9.5px 0px;
	top: 31px;
	right: -40px;
	-ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: help;
}

.questionText {
	position: absolute;
	/*left: 4px;*/
	right: 10px;
	bottom: -26px;
	display: none;
	color: var(--forText);
}

.questionMark:hover + .questionText {
	display: block;
}