.select {
	padding: 10px 10px;
	font-size: var(--fsz19);
	border-radius: 4px;
	background-color: var(--secBg);
	color: var(--color);
	border: 1px solid var(--additional);
	width: 100%;
	cursor: pointer;
}

.option {
	font-size: var(--fsz16);
}
