.container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.table {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
}

.gostButton {
	position: absolute;
	top: -72px;
	right: 0;
	color: var(--forText);
	padding: 2px 8px;
	border-bottom: 1px solid var(--additional);
	cursor: pointer;
}

.gostButton:hover {
	color: var(--color);
}

.button {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 100px;
}

.title {
	font-size: var(--fsz24);
	color: var(--main);
}

.title.red {
	color: var(--error);
}

.title.rejected {
	color: var(--emission);
}

.name {
	color: var(--forLinks);
	cursor: pointer;
}

.name:hover {
	text-decoration: underline;
}

.infoItem {
	font-size: var(--fsz19);
}

.reason {
	margin-top: 20px;
	text-align: center;
}

.reasonTitle {
	font-size: var(--fsz19);
	border-bottom: 1px solid var(--additional);
	display: inline-block;
	width: 66%;
	color: var(--error);
}

.reasonContent {
	font-size: var(--fsz18);
	max-width: 70%;
	margin: 8px auto;
}

.excel {
	position: absolute;
	left: -220px;
	top: 0px;
}