.columns {
	display: inline-block;
}

.column {
	display: inline-block;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.upper, .lower {
	height: 50px;
}

.upper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid var(--selection);
	border-left: 3px solid var(--selection);
	cursor: help;
	position: relative;
}

.upper .first {
	font-size: var(--fsz19);
	margin-right: 8px;
}

.upper .second {
	color: var(--forText);
	position: relative;
	top: 1px;
}

.upper.last {
	border-right: 3px solid var(--selection);
}

@keyframes blink {
  	50% {
    	background-color: var(--forBg);
  	}
}


.lower.blink {
	animation: blink 1s linear;
}

.lower {
	font-size: var(--fsz19);
	padding: 0px 4px 0px 4px;
	background-color: var(--firstBg);
	color: var(--color);
	text-align: center;
	border-left: 3px solid var(--additional);
}

.lower.last {
	border-right: 3px solid var(--additional);
}

.help {
	display: none;
	position: absolute;
	top: -40px;
	color: var(--forText);
	border: 1px solid var(--additional);
	border-radius: 8px;
	padding: 2px 8px;
	color: var(--color);
}

.error {
	position: absolute;
	bottom: -24px;
	width: 100%;
	text-align: center;
	color: var(--error);
}

.helpIcon {
	position: absolute;
	bottom: 0;
	right: 8px;
	color: var(--forText);
	opacity: 0.8;
}

.upper:hover ~ .help {
	display: block;
}

.disabled {
	pointer-events: none;
}

.colors {
	position: absolute;
	bottom: 2px;
	left: 2px;
	display: flex;
}

.color1 > * {
	background-color: var(--pollutants);
}

.color2 > * {
	background-color: var(--greenhouse);
}

.color3 > * {
	background-color: var(--efficiency);
}

.color1, .color2, .color3 {
	width: 14px;
	height: 14px;
	border-radius: 8px;
	border: 2px solid var(--additional);
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerColor {
	width: 8px;
	height: 8px;
	border-radius: 10px;
}

.color2 {
	border-left: none;
	border-right: none;
	width: 12px;
}