.wrapper {
	margin-top: 60px;
}

.title {
	border-bottom: 1px solid var(--additional);
	font-size: var(--fsz19);
	cursor: pointer;
	position: relative;
	padding-left: 8px;
	user-select: none;
}

.title.disabled {
	opacity: 0.6;
}

.title.disabled .arrow {
	transform: rotate(90deg);
}

.title.disabled + .content {
	max-height: 0;
	transition: max-height 0.20s linear;
}

.arrow {
	position: absolute;
	bottom: -7px;
	right: 2px;
	transform: rotate(-90deg);
	font-size: var(--fsz32);
}

.content {
	margin-top: 50px;
	margin-left: 60px;
	max-height: 310px;
	transition: max-height 0.20s linear;
	overflow: hidden;
}

.content.last {
	max-height: 120px;
}

.tableRow {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.tableRow:last-child .tableCell {
	color: var(--efficiency);
}

.tableCell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-basis: 27%;
	border-right: 1px solid var(--additional);
	border-bottom: 1px solid var(--additional);
	padding: 8px 10px 4px;
}

.tableCell.headCell, .tableCell.first {
	border-width: 3px;
}

.tableCell.headCell {
	font-size: var(--fsz16);
}

.tableCell {
	font-size: var(--fsz18);
}

.tableCell.first {
	font-size: var(--fsz19);
}

.tableCell:first-child {
	flex-basis: 19%;
}

.percent {
	font-size: 13px;
	color: var(--error);
	position: relative;
	bottom: 5px;
	left: 6px;
	user-select: none;
}

.percent.minus {
	color: var(--main);
}

.percent.zero {
	display: none;
}

.percent > span {
	display: inline-block;
	margin-right: 2px;
	font-size: var(--fsz16);
}

.info {
	font-size: var(--fsz15);
	color: var(--forText);
	margin-left: 4px;
	position: relative;
	top: 1px;
}

.info:before {
	content: "(";
}

.info:after {
	content: ")";
}