/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

/*html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}*/
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

html {
    --mainFont: "Josefin Sans";
    --fszLogo: 28px;
    --fsz100: 64px;
    --fsz38: 34px;
    --fsz24: 24px;
    --fsz19: 19px;
    --fsz18: 18px;
    --fsz16: 16px;
}


::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: black;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    border: 4px solid rgb(0,0,0);
    background-color: #555555;
    border-radius: 40px;
}


* {
  font-family: var(--mainFont);
}

*::-moz-selection {
  background-color: var(--selection);
}

*::selection {
  background-color: var(--selection);
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--firstBg);
  color: var(--color);
}

.mainBlock {
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
}

.loading {
    width: 100vw;
    height: 100vh;
    color: var(--color);
    background-color: var(--firstBg);
}

@media(max-width: 996px) {
  .mainBlock {
    width: 96%;
  }
}

::-webkit-input-placeholder { /* Chrome */
  color: var(--forText);
  opacity: 0.7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--forText);
  opacity: 0.7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--forText);
  opacity: 0.7;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: var(--forText);
  opacity: 0.7;
}
