.title {
	font-size: var(--fsz18);
}

.value {
	margin-left: 4px;
	color: var(--error);
}

.value.active {
	color: var(--main);
}

.value.gas {
	color: var(--gas);
}

.value.user {
	color: var(--forLinks);
	cursor: pointer;
}

.value.user:hover {
	text-decoration: underline;
}

.sameUser {
	color: var(--forText);
	display: inline-block;
	margin-left: 4px;
}

.content {
	margin-top: 50px;
	width: 80%;
	margin-left: 130px;
}